body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #00bcd4;
}
h2 {
    text-align: center;
    color: #00ff0d;
}
.subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #00ff00;
    font-size: 0.9rem;
}

.channel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 8px;
    background-color: #030303;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 217, 255, 0.377);
}

.channel-name {
    flex: 1;
    color: #ffffff;
    font-size: 1.1rem;
}

.btn {
    background-color: #00bcd4;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0097a7;
}

.status {
    font-size: 0.9rem;
    color: #4aff02;
    margin-left: 10px;
}

.active::before {
    content: '●';
    color: #4aff02;
    margin-right: 5px;
}
.inactive {
    font-size: 0.9rem;
    color: #ff0000; /* Rojo para inactivo */
    margin-left: 5px;
}

.inactive::before {
    content: '●';
    color: #ff0000;
    margin-right: 5px;
}
